.banner {
  background-image: url("https://preview.redd.it/qlly2xx1zxx81.jpg?auto=webp&s=39205951fbac8bf66c30dd57ac2c2315771640d4");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.banner-content {
  color: white;
}
